<h1>Plan Models</h1>

<ul>
  <% @plan_model.each do |plan_model| %>
      <%= link_to plan_model.name, plan_model %>
      <p> <%= plan_model.data %></p>
    
  <% end %>
</ul>

<%= link_to "New Plan Model", new_plan_model_path %>