 .u-section-1 {
  background-image: url("images/er.jpg");
  background-position: 50% 50%;
  min-height: 691px;
}

.u-section-1 .u-shape-1 {
  width: 359px;
  height: 359px;
  margin: 23px auto 0 calc(((100% - 1140px) / 2) + -105px);
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: -382px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-line-1 {
  width: 111px;
  height: 6px;
  transform-origin: left center;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
  margin: 23px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  background-image: none;
  margin: 35px auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  background-image: url("images/gyt-min1.jpg");
  background-position: 12.38% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 482px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 940px) / 2) + -105px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 570px;
  }

  .u-section-1 .u-image-1 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 532px;
  }

  .u-section-1 .u-shape-1 {
    width: 293px;
    height: 293px;
    margin-top: 13px;
    margin-left: calc(((100% - 720px) / 2) + -92px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-top: -305px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 60px 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 462px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1016px;
  }

  .u-section-1 .u-shape-1 {
    width: 291px;
    height: 291px;
    margin-left: calc(((100% - 540px) / 2) + -116px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-top: -303px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 130px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 578px;
    background-position: 13.1% 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 755px;
  }

  .u-section-1 .u-shape-1 {
    width: 228px;
    height: 228px;
    margin-left: calc(((100% - 340px) / 2) + -92px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: -240px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 65px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 364px;
  }
}